extends ../layout

block content
  h1 Edit Book

  form(method="POST", action=`/books/${book._id}`)
    .mb-3
      label.form-label Title
      input.form-control(type="text", name="title", value=book.title, required)

    .mb-3
      label.form-label Author
      input.form-control(type="text", name="author", value=book.author, required)

    .mb-3
      label.form-label Description
      textarea.form-control(name="description")= book.description

    .mb-3
      label.form-label Published Year
      input.form-control(type="number", name="publishedYear", value=book.publishedYear)

    button.btn.btn-primary(type="submit") Update Book